alias ..='cd ..'
alias vim=nvim
alias v=nvim
alias r='nvim -c "SessionRestore"'
# open nvim with fzf and do nothing on cancellation
alias f='fzf --print0 | xargs -0 -r -o nvim'
alias python=python3

alias inet='sudo ~/r8125-9.007.01/autorun.sh'
# Restart pulseaudio to fix audio issues
alias pk='pulseaudio -k'
alias xampp='sudo /opt/lampp/manager-linux-x64.run'

alias am='cd ~/Desktop/Inacon && ./activate_venv.sh'
alias stox='clear && cd ~/Desktop/Inacon/Automation/stocks && \
    source ../../inacon_env/bin/activate && python3 price_scraping.py'

alias vpn='sudo openvpn --config /media/jonas/Volume/KIT/kit.ovpn'

alias stowall='stow -S git nvim vscode intellij kitty oh-my-zsh pulse-audio fonts misc zellij'

# git
alias g='git'
alias gs='git status'
alias gco='git checkout -b'
alias ga='git add -A'
alias gp='git push'
alias gh='git stash'
alias ghh='git stash pop'
