" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader = " "

set clipboard+=unnamed
set ideajoin
set incsearch
set number
set relativenumber
set nostartofline
set scrolloff=2
set showmode
set sidescroll=1
set smartcase
" Vim surround
set surround
set timeoutlen=250
set undolevels=1000

inoremap ij <Esc>

" Faster moving to start / end of line
nnoremap H ^
nnoremap L $

" Basic movement in insert mode
inoremap <A-h> <left>
inoremap <A-j> <down>
inoremap <A-k> <up>
inoremap <A-l> <right>

" Moving lines
nnoremap <A-j> :move .+1<CR>==
nnoremap <A-k> :move: .-2<CR>==
xnoremap <A-j> :move '>+1<CR>gv=gv
xnoremap <A-k> :move '<-2<CR>gv=gv

" Search and replace
nnoremap <leader>s :%s///gc<left><left><left><left>
xnoremap s :s/\%V//g<left><left><left>

" Insert new line below and above without entering insert mode
nnoremap <leader>o o<Esc>0\"_D
nnoremap <leader>O O<Esc>0\"_D

" Paste from clipboard
" sethandler <C-v> a:ide
" nmap <leader>p <C-v>

" Centering
nnoremap { {zz
nnoremap } }zz
nnoremap * *zz
nnoremap # #zz
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
nnoremap <C-o> <C-o>zz
nnoremap <C-i> <C-i>zz

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

map <A-h> <Action>(EditorUnindentSelection)
map <A-l> <Action>(EditorIndentLineOrSelection)

map <C-Right> <action>(GotoNextError)
map <C-Left> <action>(GotoPreviousError)

map <leader>rn <action>(RenameElement)
map <leader>fg <action>(FindInPath)
map <leader>fp <action>(GotoClass)
