[init]
    defaultBranch = main
[alias]
    st = status
    co = commit -m
    ca = commit --amend --no-edit
    p = push
    fp = push -f
    pl = pull
# Start git-delta settings
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
# end git-delta settings
[pager]
    branch = false
[push]
    autoSetupRemote = true
    default = current
[pull]
    rebase = true
[branch]
	sort = -committerdate
[merge]
	tool = nvimdiff
[user]
    email = jonas.strittmatter@gmx.de
    name = smjonas
[includeIf "gitdir:~/**/NeoCargo/**"]
    path = ~/work/.gitconfig
[includeIf "gitdir:~/**/neocargo/**"]
    path = ~/work/.gitconfig
