[submodule "oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
