[init]
    defaultBranch = main
[alias]
	st = status
    co = commit -m
    ca = commit --amend --no-edit
    p = push
    fp = push -f
    pl = pull
[user]
	email = jonas.strittmatter@gmx.de
	name = smjonas
[push]
    autoSetupRemote = true
[pull]
	rebase = true
