[init]
    defaultBranch = main
[alias]
	st = status
    co = commit -m
    ca = commit --amend --no-edit
    fp = push -f
[user]
	email = jonas.strittmatter@gmx.de
	name = smjonas
[pull]
	rebase = true
