[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Ultimate Edition
Icon=/home/jonas/Downloads/idea-IU-232.9559.62/bin/idea.svg
Exec="/home/jonas/Downloads/idea-IU-232.9559.62/bin/idea.sh" %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
StartupNotify=true
