layout {
    cwd "~/Desktop/NeoCargo/consignment-service"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
        pane size=2 borderless=true {
          plugin location="zellij:status-bar"
        }
    }
    tab name="Git" focus=true {
        pane split_direction="vertical" {
            pane {
                edit "."
            }
            pane
        }
    }
    tab name="SSH" {
        pane
    }
}
